.Card {
  background-color: #fff;
  margin: 0 2vw;
  padding: 10px;
  min-height: 10vh;
  padding: 20px 10px;
}
.Rounded {
  border-radius: 22px;
}
.Card-shadow {
  box-shadow: 2px 4px 10px 5px rgba(0, 0, 0, 0.05);
}
.Image {
  margin: 0 auto;
  background-image: url("./Assets/robot.jpg");
  background-size: cover;
  max-width: 90%;
}
.Shop {
  margin: 0 auto;
  background-image: url("./Assets/shop.jpg");
  background-size: cover;
  max-width: 90%;
}
.ImgMobile {
  position: relative;
  padding-bottom: 56.25%;
  transform: translateY(-50px);
}
.ImgMobileShop {
  position: relative;
  z-index: 0;
  padding-bottom: 70%;
  transform: translateY(-50px);
}
.Header {
  margin-top: 50px;
}
.judul {
  font-size: 1em;
}
/* Desktop Mode */
@media (min-width: 875px) {
  .Image {
    transform: translateY(0);
    width: 800px;
    height: 450px;
  }
  .Shop {
    transform: translateY(0);
    width: 935px;
    height: 654px;
  }
  .Card {
    margin-top: 0;
    padding: 40px 0;
  }
  .ImgMobile,
  .ImgMobileShop {
    display: none;
  }
  .ImgDesktop {
    display: block;
    margin-bottom: 20px;
  }
}
